@use 'library/content/links';
@use 'library/content/font-face' as *;
@use 'colors' as *;
@use 'fonts';

:root {
  --primary: #d40b01;
  --secondary: #1e3944;
}

html {
  font: #{em(fonts.$font-size, 16px)}/fonts.$line-height fonts.$font-stack;
  color: $base-color;
}

body {
  font-size: fonts.$global-font-size;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #a4d474, #222c18);
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  overflow: hidden; // Remove scroll for iOS.
}

a {
  @include links.underline('inv');
  color: $base-color;
}
