
.ladybug {
  position: relative;
  display: block;
  cursor: pointer;
  width: 100px;
  animation: ladybug 5s linear infinite normal forwards;
  transform-origin: 50% 50%;
}

@keyframes ladybug {
  40% { transform: translateY(-150px); }
  50% { transform: rotateZ(180deg) translateY(0); }
  90% { transform: rotateZ(180deg) translateY(0); }
  100% { transform: rotateZ(0) translateY(0); }
}

.ladybug__head {
  position: absolute;
  top: -20px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  animation: ladybug-head 1s linear infinite alternate-reverse forwards;
  transform-origin: 50% 100%;
  z-index: 1;
}

@keyframes ladybug-head {
  0% { transform: rotateZ(30deg); }
}

.ladybug__body {
  position: relative;
  display: block;
  z-index: 2;
  width: 100px;
  height: 100px;
  background-color: var(--primary);
  background-image:
    radial-gradient(#000 12px, transparent 0),
    radial-gradient(#000 8px, transparent 0);
  background-position:
    -15px 10px,
    12px 25px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 10px solid #000;
  transition: all 300ms;
}
