
.bs__target {
  display: block;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  background: none;
  width: 1px;
  height: 1px;
  border: none;
  outline: none;
  transition: all 300ms;
  opacity: 0;

  .bs__is-playing & {
    opacity: 1;
  }

}

.bs__item {
  transition: all 500ms;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 2;

  // click animation.
  .boom & {
    transform: rotateY(360deg) scale(6);
  }
}
